<!DOCTYPE html>
<html>
  <head>
    <title>BsSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default" role="navigation">
     <div class="container">
     <div class="navbar-header">

      <%= link_to "sample app", '#', id: "logo", class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",    '#' %></li>
      <li><%= link_to "Help",    '#' %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </div>
    </div>
   </header>


   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#Navber" aria-expanded="false">
        <span class="sr-only">ナビゲーションの切替</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ブランド</a>
    </div><!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">ホーム <span class="sr-only">(current)</span></a></li>
        <li><a href="#">リンク</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ドロップダウン <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">メニュー1</a></li>
            <li><a href="#">メニュー2</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">その他</a></li>
          </ul>
        </li>
        <li class="disabled">
          <a href="#">無効</a>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="検索..." aria-label="検索...">
        </div>
        <button type="submit" class="btn btn-success">検索</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <%= yield %>
  </body>
</html>
